<?php
return [
    'install' => [
        'date' => 'Tue, 15 Sep 2020 08:16:43 +0000'
    ],
    'MAGE_MODE' => getenv('MAGE_MODE'),
    'x-frame-options' => 'SAMEORIGIN',
    'crypt' => [
        'key' => '1286b4dbcb04b7f57bffc5fa8b404336'
    ],
    'downloadable_domains' => [
        'www.magento.lan'
    ],
    'backend' => [
        'frontName' => 'admin'
    ],
    'queue' => [
        'consumers_wait_for_messages' => 1
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => getenv('MYSQL_HOST'),
                'dbname' => getenv('MYSQL_DATABASE'),
                'username' => getenv('MYSQL_USER'),
                'password' => getenv('MYSQL_PASSWORD'),
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1',
                'driver_options' => [
                    1014 => false
                ]
            ]
        ]
    ],
    'session' => [
        'save' => 'redis',
        'redis' => [
            'host' => getenv('REDIS_SESSION_HOST'),
            'port' => getenv('REDIS_SESSION_PORT'),
            'password' => '',
            'timeout' => '2.5',
            'persistent_identifier' => '',
            'database' => '2',
            'compression_threshold' => '2048',
            'compression_library' => 'gzip',
            'log_level' => '1',
            'max_concurrency' => '6',
            'break_after_frontend' => '5',
            'break_after_adminhtml' => '30',
            'first_lifetime' => '600',
            'bot_first_lifetime' => '60',
            'bot_lifetime' => '7200',
            'disable_locking' => '0',
            'min_lifetime' => '60',
            'max_lifetime' => '2592000',
            'sentinel_master' => '',
            'sentinel_servers' => '',
            'sentinel_connect_retries' => '5',
            'sentinel_verify_master' => '0'
        ]
    ],
    'lock' => [
        'provider' => 'db',
        'config' => [
            'prefix' => ''
        ]
    ],
    'cache' => [
        'frontend' => [
            'default' => [
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => [
                    'server' => getenv('REDIS_CACHE_HOST'),
                    'port' => getenv('REDIS_CACHE_PORT'),
                    'database' => '0',
                    'password' => '',
                    'persistent' => '',
                    'read_timeout' => '10',
                    'compress_data' => '1',
                    'compress_tags' => '1',
                    'compress_threshold' => '20480',
                    'compression_lib' => 'gzip'
                ],
                'id_prefix' => '69d_'
            ],
            'page_cache' => [
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => [
                    'server' => getenv('REDIS_CACHE_HOST'),
                    'port' => getenv('REDIS_CACHE_PORT'),
                    'password' => '',
                    'database' => '1',
                    'persistent' => '',
                    'read_timeout' => '10',
                    'compress_data' => '1',
                    'compress_tags' => '1',
                    'compress_threshold' => '20480',
                    'compression_lib' => 'gzip'
                ],
                'id_prefix' => '69d_'
            ]
        ],
        'allow_parallel_generation' => false
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1,
        'vertex' => 1
    ],
    'system' => [
        'default' => [
            'system' => [
                'smtp' => [
                    'host' => [
                        'value' => getenv('SMTP_HOST')
                    ],
                    'port' => [
                        'value' => getenv('SMTP_PORT')
                    ],
                ],
            ],
            'catalog' => [
                'search' => [
                    'elasticsearch7_server_hostname' => [
                        'value' => getenv('ELASTICSEARCH_HOST')
                    ],
                    'elasticsearch7_server_port' => [
                        'value' => getenv('ELASTICSEARCH_PORT')
                    ],
                    'elasticsearch7_index_prefix' => [
                        'value' => getenv('ELASTICSEARCH_PREFIX')
                    ],
                    'elasticsearch7_enable_auth' => [
                        'value' => getenv('ELASTICSEARCH_ENABLE_AUTH')
                    ],
                    'elasticsearch7_server_timeout' => [
                        'value' => '15'
                    ],
                ],
            ],
        ],
    ],
];
