/.idea
/.git
/readme.md
/Dockerfile
/docker-compose.yml
/.env
/data
/pub/static/frontend
/pub/static/adminhtml
/pub/static/deployed_version.txt
/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
/node_modules
/.phpunit
/.phpunit.result.cache
/phpunit.xml/node_modules
/sitemap
/sitemap.xml
