<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="BureauVallee\Shop\Api\ShopManagementInterface"
                type="BureauVallee\Shop\Model\Service\ShopService"/>
    <preference for="BureauVallee\Shop\Api\ShopRepositoryInterface"
                type="BureauVallee\Shop\Model\Db\ShopRepository"/>
    <preference for="BureauVallee\Shop\Api\Data\ShopInterface"
                type="BureauVallee\Shop\Model\Db\Shop"/>
    <preference for="BureauVallee\Shop\Model\Spi\ShopResourceInterface"
                type="BureauVallee\Shop\Model\ResourceModel\Shop"/>
    <preference for="BureauVallee\Shop\Api\Data\ShopSearchResultInterface"
                type="BureauVallee\Shop\Model\ResourceModel\Db\Shop\Collection"/>

    <preference for="BureauVallee\Shop\Model\Locator\LocatorInterface"
                type="BureauVallee\Shop\Model\Locator\Locator"/>
    <preference for="BureauVallee\Shop\Model\Locator\RulePoolInterface"
                type="BureauVallee\Shop\Model\Locator\RulePool"/>

    <type name="BureauVallee\Shop\Model\Locator\RulePoolInterface">
        <arguments>
            <argument name="rules" xsi:type="array">
                <item name="9999" xsi:type="object">
                    BureauVallee\Shop\Model\Locator\Rule\DefaultRule
                </item>
            </argument>
        </arguments>
    </type>

    <preference for="BureauVallee\Shop\Model\Converter\ShopConverterInterface"
                type="BureauVallee\Shop\Model\Converter\ShopConverter"/>

    <preference for="BureauVallee\Shop\Model\System\ConfigInterface"
                type="BureauVallee\Shop\Model\System\Config"/>

</config>
