<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pictime_Territory::menu"
             title="Territories"
             translate="title"
             module="Pictime_Territory"
             sortOrder="10"
             parent="Pictime_Adminhtml::zoning"
             action="pictime_territory/territory/index"
             resource="Pictime_Territory::menu"/>
    </menu>
</config>
