<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="territory"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="0"
                 showInWebsite="0"
                 showInStore="1">
            <label>Territories</label>
            <tab>pictime</tab>
            <resource>Pictime_Territory::config</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="0"
                   showInWebsite="0"
                   showInStore="1">
                <label>General</label>
                <field id="id"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="0"
                       showInWebsite="0"
                       showInStore="1">
                    <label>Store Territory</label>
                    <source_model>Pictime\Territory\Model\System\Config\Source\TerritorySource</source_model>
                </field>
            </group>
        </section>
    </system>
</config>