<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pictime_Shop::shops"
             title="Shops"
             translate="title"
             module="Pictime_Shop"
             sortOrder="20"
             parent="Pictime_Adminhtml::zoning"
             action="pictime/shops/"
             resource="Pictime_Shop::shops"/>
    </menu>
</config>
